{% extends 'groups/group_base.html' %}
{% block pregroup %}
<h1>{{group.name}}</h1>
<h2>Member Count:{{group.member.count}}</h2>

<div class="content">
    {% if user in group.member.all %}
    <a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-danger">
        Leave Group
    </a>
    {% else %}
    <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-danger">
        Join Group
    </a>
    {% endif %}
</div>
{% endblock pregroup %}

{% block group_content %}
<div class="col-md-8">
    {% if group.group_posts.all|length == 0 %}
    <div class="container">
        <h2>No post in this group yet</h2>
    </div>
    {% else %}
    <br><br>
        {% for post in group.group_posts.all%}
            {% include 'posts/_post.html' %}
        {% endfor %}
    {% endif %}
</div>
{% endblock group_content %}